---
---

<header class="site-head">
    <div class="site-head-container">
        <nav class="site-head-left" aria-label="Primary">
            <a href="/lookbook">Discover</a>
            <a href="/news">Archive</a>
        </nav>

        <a class="site-head-logo" href="/" aria-label="Lovely Sunday home">
            <img src="/img/lovely-sunday-logo.svg" alt="Lovely Sunday" />
        </a>

        <nav class="site-head-right" aria-label="Utilities">
            <a href="/about-lovely-sunday">About</a>
            <a href="/contact-lovely-sunday">Contact</a>
        </nav>
    </div>
</header>
