---
---

<header class="site-head">
    <div class="announcement-bar">
        <p>Sign up for our email list &amp; be the first to see LovelySunday&apos;s latest looks!</p>
        <span aria-hidden="true">×</span>
    </div>

    <div class="site-head-container">
        <button class="icon-button" aria-label="Open menu">☰</button>

        <a class="site-head-logo" href="/" aria-label="Lovely Sunday home">
            <img src="/img/lovely-sunday-logo.svg" alt="Lovely Sunday" />
        </a>

        <div class="site-head-right" aria-label="Utilities">
            <span aria-hidden="true">◉</span>
            <span aria-hidden="true">⌕</span>
            <span aria-hidden="true">👜</span>
        </div>
    </div>
</header>
