---
import "../styles/components/post-card.css";

export interface Props {
  post: any;
  slug: string;
}

const { post, slug } = Astro.props;
const thumbnail = post.data.thumbnail;
const title = post.data.title;
---

<article class={`post-card ${thumbnail ? 'with-image' : 'no-image'} post`}>
  <a href={`/${slug}/`} class="post-card-link">
    {thumbnail && (
      <div class="post-card-image-wrap">
        <img src={thumbnail} alt={title} class="post-card-image" loading="lazy" />
      </div>
    )}

    <div class="post-card-content">
      <h2 class="post-card-title">{title}</h2>
    </div>
  </a>
</article>
